<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<title>Online Bookstore</title>
<body>
	<h1>Welcome to the Bookstore!</h1>



	<table>
		<tr>
			<th>Category</th>
		<tr th:each="category : ${categories}">
			<td th:text="${category.name}"></td>


		</tr>
		</tbody>
	</table>
	<a href="/addcategory" class="btn btn-primary">Add a category</a>

</body>

</html>